.btn1{
  text-decoration: none;
  color: black;
  margin-top: 40px;
  position: absolute;
  margin-left: 241px;
  border-radius: 50%;
  width: 176px;
  height: 85px;
  text-align: center;
  background-color: lightblue;
}
.btn2{
  border: 1px solid yellow;
  text-decoration: none;
  color: black;
  margin-top: 40px;
  position: absolute;
  margin-left: 821px;
  border-radius: 50%;
  width: 176px;
  height: 85px;
    background-color: yellow;
}
.btn1 span{
  margin-top: 20px;
    position: absolute;
    width: 103px;
    margin-left: -48px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}
.btn2 span{
  margin-top: 20px;
    position: absolute;
    width: 103px;
    margin-left: 48px;
    color: white;
    font-family: monospace;
    font-size: 20px;
}


.form{
  position: absolute;
    margin-top: 125px;
    margin-left: 782px;
  display: flex;
    flex-direction: column;
    height: 239px;
    
    justify-content: space-around;
}
.form input{
  width: 300px;
    height: 40px;
    border-radius: 6px;

}
.bloc{
  margin-top: 154px;
    
    position: absolute;
    margin-left: 30px;
    width: 594px;
    
    line-height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact{
  display: flex;
  width: 822px;
    justify-content: space-around;
}
.contact button{
  border-radius: 50%;
    background-color: red;
    height: 30px;
    margin-left: 28px;
}
.edit{
  position: absolute;
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 243px;
    justify-content: space-around;
}
.edit input{
  width: 285px;
    height: 30px;
    border-radius: 6px;
}
.contact a {
  text-decoration: none;
  
  color: rgb(5, 146, 16);
  border-radius: 50%;
  text-decoration: underline overline;

}